.empleado {
  background: linear-gradient(#508aa8, #c8e0f4);
  padding: 30px;
  margin: 30px;
  border: 2px solid #9dd1f1;
  border-radius: 50px;
  letter-spacing: 5px;
  font-size: 20px;
}

.img-random {
  width: 400px;
  height: 400px;
  padding: 20px;
}
.premiados {
  color: #7a7978;
  background: linear-gradient(#8ac4ff, #87cbac);
  border-radius: 80%;
  font-weight: bold;
  font-size: 15px;
  padding: 50px;
}
.img-prem {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 100px;
  column-gap: 100px;
  grid-auto-rows: minmax(200px, auto);
  margin: 0px auto;
  padding: 80px;
}
